:root {
  --font-family: "Nunito", sans-serif;
  --primary-color: #222831;
  --primary-color-hover: #494f5a;
  --primary-color-active: #494f5a;
  --primary-color-active-alt: #525866;
  --secondary-color: #393e46;
  --secondary-color-hover: #2e3239;
  --secondary-color-active: #414751;
  --accent-color: #00acb5;
  --accent-color-hover: #017177;
  --accent-color-active: #00cbd6;
  --text-color: #eee;
  --text-color-alt: #aaa;
  --shadow-color: hsla(0, 0%, 0%, 0.1);
  --shadow-color-alt: #0000001a;
  --danger-color: rgb(186, 0, 0);
  --danger-color-hover: red;
  --danger-color-active: rgb(158, 0, 0);
}
