.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.children {
  margin-top: 2rem;
  margin-right: 2rem;
}

.note-controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.note-editor-header-title {
  color: var(--text-color);
  margin-bottom: 0.5rem;
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
  overflow-x: auto;
}

.note-editor-actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.save-button {
  margin-left: 2rem;
  height: 3.5rem;
  width: 10rem;
}
